reportName = "Penetration_Results"
contextName = "VOL_API"
policy = "Default Policy"
attackStrength = "Insane"
ipAddress = "127.0.0.1"
proxyPort = "8090"
password = ""
bucketName = ""
cardNumber = ""
cardExpiryMonth = ""
cardExpiryYear = ""
adminUser = ""
adminPassword = ""
username = ""
intPassword = ""