 reportName = ""
 contextName = ""
 policy = ""
 attackStrength = ""
 ipAddress = ""
 proxyPort =
 password = ""
 bucketName = ""
 cardNumber = ""
 cardExpiryMonth = ""
 cardExpiryYear = ""
 adminUser = ""
 adminPassword = ""